<div
  class="d-flex justify-content-center align-items-center flex-column home"
  style="margin-inline: auto; padding-block: 15%; max-width: 1440px"
>
  <span class="logo text-primary">
    <i jhiDataFeather="map-pin" class="font-large-3"></i>
  </span>
  <h2 class="brand-text font-large-2 user-select-none d-flex justify-content-center align-items-center d-flex flex-column">
    <div style="letter-spacing: 0.5rem; text-transform: uppercase; margin-right: -0.25em">Express</div>
    <div style="letter-spacing: 1.2rem; text-transform: uppercase; margin-right: -0.6em">Sign</div>
  </h2>
</div>
