@import 'src/main/webapp/content/custom/themes';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    justify-content: center;
    text-align: center;

    p {
      width: 80%;
    }
  }
}
