.ngx-contextmenu .dropdown-menu {
  background-color: white;
  padding: 0;
}
.ngx-contextmenu li {
  display: block;
  text-align: center;
}
.ngx-contextmenu li:first-child {
  border-top: none;
}
.ngx-contextmenu a {
  color: #6e6b7b;
  display: block;
  padding: 0.5em 1em;
}
.ngx-contextmenu a:hover {
  background-color: #efefef;
}
