.ql-editor {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ql-editor[contenteditable='false'] {
  padding: 0;
}

td editable {
  padding: 0 !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

td.tracking-eta editable:not(:has(textarea)) {
  inline-size: 80px;
}

td.tracking-other editable:not(:has(textarea|quill-editor)) {
  inline-size: 150px;
}
